*{ 
    background-color: blanchedalmond;
}
.head1{
    
    font-size: 30px;
    border: 2px solid bisque;
    margin-right: 50%; 
    padding: 10px;
    box-shadow: 10px 10px 5px grey;
    background-color: beige;
}
.para:hover{
    box-shadow: 5px 5px 5px grey;
    box-sizing: border-box;
    font-size: larger;
    background-color: bisque;
    border:2px solid blanchedalmond;  
}
#list1{
    text-align: center;
    border: 2px solid black;
    margin: 50px 30% 20px 30%;
    
}
#list1:hover{
    box-shadow: 10px 10px 10px goldenrod;
}
li{
    list-style-type: none;
}